@import 'tailwindcss';

:root {
  --primary-color: #00a9e0;
  --secondary-color: #003d62;
  --accent-color: #f4f4f4;
  --highlight-color: #00738c;
}

.bg-primary {
  background-color: var(--accent-color);
}

header {
  background-color: var(--secondary-color);
}

nav {
  background-color: var(--secondary-color);
}
